.@{
    ViewBag.Title = "Fale Conosco ";
}

<h1>Fale conosco</h1>

<form action="#" method="post" id="formularioJ">
    <fieldset>
        <legend>Dados da Mensagem</legend>
        <div class="fc">
            <div class="campo">
                <label for="nomeJ">Nome:</label><br>
                <input type="text" size="45" name="nome" maxlenght="40" id="nomeJ"><span id="x_nomeJ" class=""></span>
            </div><br>
            <div class="campo">
                <label for="telefoneJ">Telefone:</label><br>
                <input type="text" size="14" name="telefone" maxlenght="10" placeholder="(   )_____-______" id="telefoneJ"><span id="x_telefoneJ" class="tSpan"></span>
            </div>
            <div class="campo">
                <label for="emailJ">Email:</label><br>
                <input type="text" size="24" name="email" maxlenght="100" id="emailJ"><span id="x_emailJ" class=""></span>
            </div>
            <div class="campo">
                <textarea name="comentário" placeholder="Insira aqui a sua mensagem..." rows="9" cols="64"></textarea>

            </div>
        </div>
    </fieldset>
    <div class="botoes" id="botoes">
        <input type="reset" value="CANCELAR" name="Limpar" id="limparJ" class="botaoJ">
        <input type="submit" value="ENVIAR" name="enviar" id="enviarJ" class="botaoJ">
    </div><!--Fim div botoes-->

</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
