@model Digimon.Dominio.ClasseMotorista

@{
    ViewBag.Title = "ui020cadastrarmotorista";
}

<h2>ui020cadastrarmotorista</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
								<legend>Dados de Contato: </legend>
								<div class="campo"> 
									<label for="nomeJ">Nome</label><br> 
									<input type="text" name="nome" id="nomeJ" class="campoObrig iLetras" placeholder="Nome Completo" size="47" maxlength="60"><span id="x_nomeJ" class="tSpan"></span>
								</div>

								<div class="campo"> 
									<label for="cpfJ">CPF</label><br> 
									<input type="text" name="cpf" id="cpfJ" placeholder=" ___.___.___-__"  class="campoObrig" size="18" maxlength="14"><span id="x_cpfJ" class="tSpan"></span>
								</div>
								<div class="campo"> 
									<label for="dataJ">Data Nascimento</label><br> 
									<input type="text" name="data" id="dataJ" size="9" placeholder="__/__/_____" maxlength="10" class="campoObrig data"><span id="x_dataJ" class="tSpan"></span>
								</div>
								<div class="campo">
									<label for="Sexo">Sexo:</label><br> 
										<select id="sexoJ" name="Sexo"> 
											<option selected value="M">Masculino</option>
											<option value="F">Feminino</option>
										</select><span id="x_tipoJ" class="tSpan"></span>
								</div>
								<div class="campo"> 
									<label for="Cnh">CNH:</label><br> 
									<input type="text" name="Cnh" id="cnhJ" size="13" maxlength="14" class="campoObrig"><span id="x_cnhJ" class="tSpan"></span>
								</div><br>
								<div class="campo"> 
									<label for="Rg">RG</label><br> 
									<input type="text" name="Rg" id="rgJ" size="18" maxlength="14" class="campoObrig"><span id="x_rgJ" class="tSpan"></span>
								</div>
								
								<div class="campo"> 
									<label for="Orgao">Orgão Emissor</label><br> 
									<input type="text" name="Orgao" id="orgaoEmissorJ" placeholder="Ex. Detran" size="19" maxlength="14" class="campoObrig iLetras"><span id="x_orgaoEmissorJ" class="tSpan"></span>
								</div>
								
								
								<br />
								<div class="campo"> 
									<label for="telJ">Telefone</label><br> 
									<input type="text" name="tel" id="telJ" placeholder="( __ ) ____-____" size="14" maxlength="12" class=""><span id="x_telJ" class="tSpan" ></span>
								</div>
								<div class="campo"> 
									<label for="celJ">Celular</label><br> 
									<input type="text" name="cel" id="celJ" placeholder="( __ ) _____-____" size="16" maxlength="13" class="campoObrig"><span id="x_celJ" class="tSpan"></span>
								</div>
								<div class="campo"> 
									<label for="emailJ">E-mail</label><br> 
									<input type="email" name="email" id="emailJ" size="29" placeholder="contato@exemplo.com" class="campoObrig"><span id="x_emailJ" class="tSpan"></span>
								</div><br>
								</fieldset>
								<fieldset>	
						<legend>Dados de Endereço: </legend>
						<div class="campo"> 
							<label for="logradouroJ">Logradouro:</label><br>
							<input type="text" name="logradouro" id="logradouroJ" size="35" maxlength="40" class="campoObrig" placeholder="Rua, Av" ><span id="x_logradouroJ" class="tSpan"></span>
						</div>
						<div class="campo"> 
							<label for="bairroJ">Bairro:</label><br>
							<input type="text" name="bairro" id="bairroJ" maxlength="37" class="campoObrig" placeholder="" ><span id="x_bairroJ" class="tSpan"></span>
						</div>
						<div class="campo"> 
							<label for="numeroJ">Número:</label><br> 
							<input type="text" name="numero" id="numeroJ" maxlength="9" size="4" class="campoObrig" placeholder="Nº" ><span id="x_numeroJ" class="tSpan"></span>
						</div>
                                                <div class="campo"> 
							<label for="complementoJ">Complemento:</label><br> 
							<input type="text" name="complemento" id="complementoJ" maxlength="15" class="campoObrig iLetras"><span id="x_complementoJ" class="tSpan"></span>
						</div>
						<div class="campo"> 
							<label for="Cep">CEP:</label><br> 
							<input type="text" name="Cep" id="cepJ" maxlength="10" size="12" class="campoObrig" placeholder="______-____" ><span id="x_cepJ" class="tSpan"></span>
						</div>
						<div class="campo"> 
							<label for="cidadeJ">Cidade:</label><br> 
							<input type="text" name="cidade" id="cidadeJ" maxlength="20" class="campoObrig iLetras" placeholder="Ex: Rio de Janeiro" ><span id="x_cidadeJ" class="tSpan"></span>
						</div>
                                                
						<div class="campo"> 
							<label for="Uf">UF:</label><br> 
							<select id="ufJ" name="Uf"> 
								<option value="AC">AC</option> 
								<option value="AL">AL</option> 
								<option value="AM">AM</option> 
								<option value="AP">AP</option> 
								<option value="BA">BA</option> 
								<option value="CE">CE</option> 
								<option value="DF">DF</option> 
								<option value="ES">ES</option> 
								<option value="GO">GO</option> 
								<option value="MA">MA</option> 
								<option value="MT">MT</option> 
								<option value="MS">MS</option> 
								<option value="MG">MG</option> 
								<option value="PA">PA</option> 
								<option value="PB">PB</option> 
								<option value="PR">PR</option> 
								<option value="PE">PE</option> 
								<option value="PI">PI</option> 
								<option value="RJ" selected>RJ</option> 
								<option value="RN">RN</option> 
								<option value="RO">RO</option> 
								<option value="RS">RS</option> 
								<option value="RR">RR</option> 
								<option value="SC">SC</option> 
								<option value="SE">SE</option> 
								<option value="SP">SP</option> 
								<option value="TO">TO</option>
							</select><span id="x_ufJ" class="tSpan"></span>
						</div><!--Fim campo ufInicial-->
					</fieldset>
					<div class="botoes" id="botoes">
						<input type="reset" value="CANCELAR" name="Limpar" id="limparJ" class="botaoJ">
						<input type="submit" value="ENVIAR" name="enviar" id="enviarJ" class="botaoJ">
					</div><!--Fim div botoes-->
}

<div>
    @Html.ActionLink("Back to List", "ui020cadastrarmotorista")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
