.@{
    ViewBag.Title = "Cadastrar Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Cadastrar Usuário</h1>	

<form name="form" method="post" action="#" id="formularioJ" class="formulario">	
	<fieldset>
		<legend>Dados do Usuário</legend><br>
		<div class="campo"> 
			<label for="nomeJ">Nome:</label><br> 
			<input type="text" name="nome" id="nomeJ" class="campoObrig iLetras" size="35" placeholder="Nome completo" maxlength="40" ><span id="x_nomeJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="cpfJ">CPF:</label><br> 
			<input type="text" name="cpf" id="cpfJ" placeholder=" ___.___.___-__"  class="campoObrig" size="14" maxlength="14" ><span id="x_cpfJ" class="tSpan"></span>
		</div><br>
		<div class="campo"> 
			<label for="rgJ">RG</label><br> 
			<input type="text" name="rg" id="rgJ" size="18" maxlength="14" class="campoObrig"><span id="x_rgJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="orgaoEmissorJ">Órgão Emissor</label><br> 
			<input type="text" name="orgaoEmissor" id="orgaoEmissorJ" placeholder="Ex. Detran" size="16" maxlength="14" class="campoObrig iLetras"><span id="x_orgaoEmissorJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="ufJ">UF:</label><br> 
			<select id="ufJ" name="uf"> 
				<option value="AC">AC</option> 
				<option value="AL">AL</option> 
				<option value="AM">AM</option> 
				<option value="AP">AP</option> 
				<option value="BA">BA</option> 
				<option value="CE">CE</option> 
				<option value="DF">DF</option> 
				<option value="ES">ES</option> 
				<option value="GO">GO</option> 
				<option value="MA">MA</option> 
				<option value="MT">MT</option> 
				<option value="MS">MS</option> 
				<option value="MG">MG</option> 
				<option value="PA">PA</option> 
				<option value="PB">PB</option> 
				<option value="PR">PR</option> 
				<option value="PE">PE</option> 
				<option value="PI">PI</option> 
				<option value="RJ" selected>RJ</option> 
				<option value="RN">RN</option> 
				<option value="RO">RO</option> 
				<option value="RS">RS</option> 
				<option value="RR">RR</option> 
				<option value="SC">SC</option> 
				<option value="SE">SE</option> 
				<option value="SP">SP</option> 
				<option value="TO">TO</option>
			</select><span id="x_ufJ" class="tSpan"></span>
		</div><!--Fim campo uf--><br>
			<label for="tipoJ">Tipo:</label><br>
			<div class="campo">
				<select id="tipoJ" name="tipo"> 
					<option selected value="1">ANTT</option>
					<option value="2">DNIT</option>
					<option selected value="3">ADM Sistema</option>
					<option selected value="4">Usuário Posto</option>
					<option value="5">TAC</option>
					<option selected value="6">Transportador</option>
				</select><span id="x_tipoJ" class="tSpan"></span>
			</div>
	</fieldset>
	<fieldset>
			<legend>Dados de Acesso</legend><br>
			<div class="campo"> 
				<label for="usuarioJ">Nome de Usuário:</label> <br> 
				<input type="text" name="usuario" id="usuarioJ" class="campoObrig iLetras" placeholder="Nome do Usuário" maxlength="15"><span id="x_usuarioJ" class="tSpan"></span>
			</div>			
			<div class="campo"> 
				<label for="senhaJ">Senha:</label><br> 
				<input type="password" name="senha" id="senhaJ" class="campoObrig" size="14" placeholder="Digite sua senha" maxlength="15" ><span class="tSpan" id="x_senhaJ" ></span>
			</div>
										
										
			</fieldset>
		<fieldset>
			<legend>Dados Contato</legend><br>
				<div class="campo"> 
					<label for="emailJ">E-mail:</label> <br> 
					<input type="email" name="email" id="emailJ"  placeholder="contato@exemplo.com" class="campoObrig" size="30"  maxlength="100"><span id="x_emailJ" class="tSpan"></span>
				</div><br>				
				<div class="campo"> 
					<label for="telefoneJ">Telefone Fixo:</label><br> 
					<input type="text" name="telefone" id="telefoneJ" placeholder="( __ ) ____-____"  maxlength="12"  class="campoObrig"><span id="x_telefoneJ" class="tSpan" ></span>
				</div>
				<div class="campo"> 
					<label for="celularJ">Celular:</label><br> 
					<input type="text" name="celular" id="celularJ" placeholder="( __ ) _____-____" maxlength="13" class="campoObrig"><span id="x_celularJ" class="tSpan"></span>
				</div>		
			</fieldset>
							
<div class="botoes" id="botoes">
	<input type="submit" value="ENVIAR" name="enviar" id="enviarJ" class="botaoJ">
	<input type="reset" value="CANCELAR" name="Limpar" id="limparJ" class="botaoJ">
</div>
</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
