.@{
    ViewBag.Title = "CadastrarTransportadorEmp";
}

<h1>Cadastro de Transportador</h1>
<form action="#" method="post" id="formularioJ">
	<fieldset>
		<legend>Dados do Transportador: </legend>
		<div class="campo"> 
				<label for="razaoSocialJ">Razão Social:</label><br> 
				<input type="text" name="Razão Social" id="razaoSocialJ" class="campoObrig" size="35" maxlength="40" ><span id="x_razaoSocialJ" class="tSpan"></span>
			</div>
		<div class="campo"> 
				<label for="cnpjJ">CNPJ:</label><br> 
				<input type="text" name="CNPJ" id="cnpjJ" class="campoObrig" size="18" maxlength="18" ><span id="x_cnpjJ" class="tSpan"></span>
			</div>
		<div class="campo"> 
				<label for="nomeFantasiaJ">Nome Fantasia:</label><br> 
				<input type="text" name="Nome Fantasia" id="nomeFantasiaJ" class="campoObrig" size="35" maxlength="40" ><span id="x_nomeFantasiaJ" class="tSpan"></span>
			</div>
		<div class="campo"> 
			<label for="rntrcJ">RNTRC:</label><br>
			<input type="text" name="rntrc" id="rntrcJ" class="campoObrig" size="18" maxlength="12" ><span id="x_rntrcJ" class="tSpan"></span>
		</div><!--Fim campo Tipo-->
	</fieldset>
	<fieldset>
		<legend>Dados de Acesso: </legend>
		<div class="campo"> 
				<label for="usuarioJ">Usuário:</label><br> 
				<input type="text" name="Usuário" id="usuarioJ" class="campoObrig" size="22" placeholder="nome de usuário" maxlength="15" ><span id="x_usuarioJ" class="tSpan"></span>
			</div><br>
		<div class="campo"> 
			<label for="senhaJ">Senha:</label><br> 
			<input type="text" name="Senha" id="senhaJ" class="campoObrig" size="22" placeholder="escolha uma senha" maxlength="15" ><span id="x_senhaJ" class="tSpan"></span>
		</div><br>
		<div class="campo"> 
			<label for="confirmarSenhaJ">Confirmar Senha:</label><br> 
			<input type="text" name="Confirmar Senha" id="confirmarSenhaJ" class="campoObrig" size="22" placeholder="onfirme a senha" maxlength="15" ><span id="x_confirmarSenhaJ" class="tSpan"></span>
		</div>
							
	</fieldset>
	<fieldset>
		<legend>Dados de Contato: </legend>
		<div class="campo"> 
				<label for="emailJ">Email:</label><br> 
				<input type="text" name="email" id="emailJ" class="campoObrig" size="22" placeholder="exemplo@exemplo.com.br" maxlength="40"><span id="x_emailJ" class="tSpan"></span>
			</div>
			<div class="campo"> 
				<label for="celJ">Celular:</label><br>
				<input type="text" name="celular" id="celJ" maxlength="13" class="campoObrig" size="12" placeholder="(   )_____-______" ><span id="x_celJ" class="tSpan"></span>
			</div>
			<div class="campo"> 
				<label for="telJ">Telefone:</label><br>
				<input type="text" name="telefone" id="telJ" maxlength="12" class="campoObrig" size="12" placeholder="(   )_____-______" ><span id="x_telJ" class="tSpan"></span>
			</div>
	</fieldset>
	<fieldset>	
		<legend>Dados de Endereço: </legend>
		<div class="campo"> 
			<label for="logradouroJ">Logradouro:</label><br>
			<input type="text" name="logradouro" id="logradouroJ" maxlength="40" size="35" class="campoObrig" placeholder="Rua, Av" ><span id="x_logradouroJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="numeroJ">Número:</label><br> 
			<input type="text" name="numero" id="numeroJ" maxlength="9" size="9" class="campoObrig" placeholder="Nº" ><span id="x_numeroJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="complementoJ">Complemento:</label><br>
			<input type="text" name="Complemento" id="complementoJ" maxlength="40" size="11" class="campoObrig" placeholder="ex: Bloco A, apt 203" ><span id="x_complementoJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="bairroJ">Bairro:</label><br>
			<input type="text" name="bairro" id="bairroJ" maxlength="40" class="campoObrig" placeholder="" ><span id="x_bairroJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="cepJ">CEP:</label><br> 
			<input type="text" name="cep" id="cepJ" maxlength="10" class="campoObrig" size="12" placeholder="______-____" ><span id="x_cepJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="cidadeJ">Cidade:</label><br> 
			<input type="text" name="cidade" id="cidadeJ" maxlength="20" size="16" class="campoObrig iLetras" placeholder="Ex: Rio de Janeiro" ><span id="x_cidadeJ" class="tSpan"></span>
		</div>
		<div class="campo"> 
			<label for="ufJ">UF:</label><br> 
			<select id="ufJ" name="ufInicial"> 
				<option value="AC">AC</option> 
				<option value="AL">AL</option> 
				<option value="AM">AM</option> 
				<option value="AP">AP</option> 
				<option value="BA">BA</option> 
				<option value="CE">CE</option> 
				<option value="DF">DF</option> 
				<option value="ES">ES</option> 
				<option value="GO">GO</option> 
				<option value="MA">MA</option> 
				<option value="MT">MT</option> 
				<option value="MS">MS</option> 
				<option value="MG">MG</option> 
				<option value="PA">PA</option> 
				<option value="PB">PB</option> 
				<option value="PR">PR</option> 
				<option value="PE">PE</option> 
				<option value="PI">PI</option> 
				<option value="RJ" selected>RJ</option> 
				<option value="RN">RN</option> 
				<option value="RO">RO</option> 
				<option value="RS">RS</option> 
				<option value="RR">RR</option> 
				<option value="SC">SC</option> 
				<option value="SE">SE</option> 
				<option value="SP">SP</option> 
				<option value="TO">TO</option>
			</select><span id="x_ufJ" class="tSpan"></span>
		</div><!--Fim campo ufInicial-->
	</fieldset>
	<div class="botoes" id="botoes">
		<input type="reset" value="Cancelar" name="Limpar" id="limparJ" class="botaoJ">
		<input type="submit" value="Enviar" name="enviar" id="enviarJ" class="botaoJ">
	</div><!--Fim div botoes-->

</form>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
